*.vscode*
*.idea*
*.DS_Store
contests/cf/contest/
cmake-build-debug/
contests/topcoder/codes/
output/gen
output/*.txt
output/*.zip
output/*.out
**/*.dSYM*
tasks/*
output/main 
output/main.cpp
testrunner/main.cpp
output/brute
*.a.out


/Java/out/*
/Java/output/*
*.class
temp/
build/
Build/
**/test*
**/a.out
**/.cph
*/tags
*.cpp
tags
~