#include "../library/IO.hpp"

class %ClassName% {
 public:

  auto solveOne() {

  }

  void solve() {
    int tc = 1;
    cin >> tc;
    for (int t = 1; t <= tc; ++t) {
      auto res = solveOne();
      cout << "Case #" << t << ": " << res << '\n';
    }
  }
};