#include "../library/IO.hpp"

class %ClassName% {
 public:

  void solveOne() {

  }

  void solve() {
    int tc = 1;
    cin >> tc;
    for (int t = 1; t <= tc; ++t) {
      solveOne();
    }
  }
};